[submodule "extern/doxygen-awesome"]
	path = extern/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/sbaldu/benchmark.git
